<a href="https://colab.research.google.com/github/Varshitha019/Python_Programming_in_DA_and_ML/blob/master/Day1_Session2_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Write a program to print the triangle

In [ ]:
k=1
n=int(input("enter n value: "))
for i in range(0,n):
 if(i>=2):
  k=i+1
 for j in range(0,i+1):
  print(k,end=" ")
  k=k+1
 print()

enter n value: 4
1
2 3
3 4 5
4 5 6 7

#2. Enter number 4

In [ ]:
rows = 4
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')

    print("\r")

*
* *
* * *
* * * *

#3. Enter number 5

In [ ]:
n = 5
k = 5
for i in range(0,n+1):
    for j in range(k-i,0,-1):
        print(j,end=' ')    
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [ ]:
n=int(input("Enter number:"));
for i in range(n+1):
    c=n-i+1
    for j in range(n,n-i,-1):
        print(c, end=" ")
        c=c+1
    print('')

#4. Enter number 5

In [1]:
n=int(input("Enter number:"));
for i in range(n+1):
    c=n-i+1
    for j in range(n,n-i,-1):
        print(c, end=" ")
        c=c+1
    print('')

Enter number:5

5
4 5
3 4 5
2 3 4 5
1 2 3 4 5

#5. Enter number 4

In [2]:
n=int(input("Enter number:"));
for i in range(n):
    for j in range(i+1,n+1,1):
        print(j, end=" ")
    print('')
for i in range(2,n+1):
    c=n-i+1
    for j in range(n,n-i,-1):
        print(c, end=" ")
        c=c+1
    print('')

Enter number:4
1 2 3 4
2 3 4
3 4
4
3 4
2 3 4
1 2 3 4

#6. Find the length of a string without using len functions

In [3]:
str = input("Enter a string: ")
counter = 0
for s in str:
      counter = counter+1
print("Length of the input string is:", counter)

Enter a string: Varshitha
Length of the input string is: 9

#7. Find the no of words and characters in a string

In [4]:
string=input("Enter string:")
char=0
word=1
for i in string:
      char=char+1
      if(i==' '):
            word=word+1
print("Number of words in the string:")
print(word)
print("Number of characters in the string:")
print(char)

Enter string:Varshitha Poojary
Number of words in the string:
2
Number of characters in the string:
17

#8. Find the no of occurrences of a word in a string

In [5]:
string = "My name is Varshitha"
substring = "is"

count = string.count(substring)

# print count
print("The count is:", count)

The count is: 1